.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.parent > * {
  flex-basis: 0px;
  flex-grow: 1;
  order: 2;
}

.parent .color-red {
  background: red;
  order: 1;
}

.parent .color-blue {
  background: blue;
  flex-grow: 2;
  order: 2;
}

.parent .color-green {
  background: green;
  order: 3;
}
